#<!DOCTYPE html>
<html lang="en">
    {% load crispy_forms_tags %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link id="pagestyle" href="{% static '/assets/css/material-dashboard.css' %}" rel="stylesheet" />
</head>
<body>
<div class="container fluid mt-10">
    <center><h3 class="text-success">LOGIN HERE</h3>
     <form method ="POST">
    {% csrf_token %} 

    {{form|crispy}}

    <button type ="submit" class="btn btn-primary">Login</button>



</form>
</center>
</div>
</body>
</html>



